.dashboard {
  display: flex;
  align-items: flex-start;
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--header-background);
      width: 100%;
      .art {
        height: 13rem;
        margin-top: 1rem;
        margin-left: 2rem;
      }
      .text {
        text-align: right;
        color: white;
        font-size: 1.2rem;
        margin-right: 4rem;
        h2 {
          img {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dashboard {
    .content {
      margin-left: 4rem;
      .header {
        .art {
          display: none;
        }
        .text {
          text-align: left;
          font-size: 0.7rem;
          padding: 1rem;
          h2 {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            img {
              width: 1.2rem;
            }
          }
        }
      }
    }
  }
}
